<% include header %>

      <% include nav %>

      <div id="map"></div>
      <div class="container"></div>

        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="js/map.js"></script>

        <script>
        <% for(var i=0; i < bibs.features.length; i++) { %>
        L.marker([<%-bibs.features[i].geometry.y %>, <%-bibs.features[i].geometry.x %>]).addTo(map)
            .bindPopup("<b><%- bibs.features[i].attributes.NAAM%></b> <br> <%- bibs.features[i].attributes.STRAATNAAM%>  <%- bibs.features[i].attributes.HUISNUMMER%> <br> <%- bibs.features[i].attributes.POSTCODE%> <%- bibs.features[i].attributes.DISTRICT%>")
        <% } %>
        </script>
        </body>
        </html>
