<% include header %>

      <% include nav %>

      <div id="map"></div>
      <div class="container"></div>

        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="js/map.js"></script>

        <script>
        <% for(var i=0; i < wifi.features.length; i++) { %>
        L.marker([<%-wifi.features[i].geometry.y %>, <%-wifi.features[i].geometry.x %>]).addTo(map)
            .bindPopup("<b><%- wifi.features[i].attributes.LOCATIE%></b> <br> <%- wifi.features[i].attributes.STRAAT%> <%- wifi.features[i].attributes.HUISNR%> <br> <%- wifi.features[i].attributes.POSTCODE%>  <%- wifi.features[i].attributes.GEMEENTE%>")
        <% } %>

        </script>
        </body>
        </html>
